{% extends 'base.html' %}

{% block title %}Sign Up | To-do{% endblock title %}
{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-center">
        <div class="p-5 bg-light border rounded-3">
            <form action="/registration/" method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-center"><h3 class="fw-bold">Sign Up</h3></div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">User Name:</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email: <small>(optional)</small></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email (optional)">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" required>
                </div>
                <div class="mb-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark btn-sm">Sign Up</button>
                </div>
            </form>
            <p></p>
            <p class="text text-dark">Already have account? <a class="link text-decoration-none" href="/login/">Sign In</a> here.</p>
        </div>
    </div>
</div>
{% endblock content %}
